---
---

<!DOCTYPE html>
<html lang="ar" dir = "rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Shujooon</title>
  <link rel="stylesheet" href="../style.css">
{% include favicon.html %}
</head>

<body>


{% include nav.html lang="ar" toggle="/posts" %}

<!-- 
  <div class="page-bg"> </div>
<main>
    <div class="post-content">

        <h1>Posts List </h1>


 <ul class = "image-list">
      <li><a href="post1" color = >Food Nationalism</a></li>
      <li><a href="post2">The Arab Cinematic Universe Needs to Happen </a></li>
      <li><a href="post3"> Naguib Mahfouz & Organised Spontaneity </a></li>
    </ul>


    <a href="index"> <img src="images/sh.png" alt="Logo" class ="post-image"> </a>
<p> Click the picture to return home.</p>
-->
<div class="page-bg"> </div>
<main>
 
    <!-- Featured -->
 <section class="category-section">
    <h1>مختارات</h1>

<div class="scroll-wrapper">

<button class="scroll-btn left">❯</button>

<div class="category-row">

    <article class="post">
                <a href="posts-folder/poetry/gaza">
                <img src="../images/poetry/gaza.jpg" alt="The Tale of Three Jewels">
            </a>

            <h2>
                <a href="posts-folder/poetry/gaza">اخترْ يا ابنَ غزّة</a>
            </h2>

            <p>
قصيدة مهداة إلى يحيى محمود، بخلفية لقطات من فيلم حكاية الجواهر الثلاثة 

            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/sex-obsession">
                <img src="../images/opinion/Tuqan.jpg" alt="Fadwa Tuqan">
            </a>

            <h2>
                <a href="posts-folder/opinion/sex-obsession">هَوَس الجنس في العالم العربي</a>
            </h2>

            <p>
                عن نظرة المجتمع العربي تجاه الجنس. 
            </p>
            </article>

<article class="post">
                <a href="posts-folder/opinion/flood">
                <img src="../images/opinion/flood/van.jpg" alt="Book Van">
            </a>

            <h2>
                <a href="posts-folder/opinion/flood">طوفان عمان ومحل الماء</a>
            </h2>

            <p>
                عن المكتبة الشهيرة في عمان
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/koobideh">
                <img src="../images/opinion/koobideh/pizza.JPG" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/koobideh">كوبيدة، تمن الدود والسلطان </a>
            </h2>

            <p>
عن غياب السخط على الذكاء الاصطناعي في العالم العربي
            </p>
            </article>
            
    <article class="post">
                <a href="../ar/no-translation">
                <img src="../images/opinion/matrix.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="../ar/no-translation">مدينة ترد الكلام</a>
            </h2>

            <p>
عن التحوّل التجاري في ثقافة عمّان.            </p>
            </article>

    <article class="post">
                <a href="../ar/no-translation">
                <img src="../images/opinion/yazan.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="../ar/no-translation">ابن برجا</a>
            </h2>

            <p>
                العزلة لها قيمة. 
            </p>
            </article>

<article class="post">
                <a href="posts-folder/poetry/inches">
                <img src="../images/poetry/lakehouse.JPG" alt="Lakehouse by Barry McGlashan">
            </a>

            <h2>
                <a href="posts-folder/poetry/inches">وحدة وحدة
                </a>
            </h2>

            <p>
                إمتى كانت آخر مرة صحيت
ورقصت بهدوء مع التلج؟
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/love-apathy">
                <img src="../images/opinion/love.JPG" alt="Sunset in Jordan">
            </a>

            <h2>
                <a href="posts-folder/opinion/love-apathy"> الحب واللامبالاة </a>
            </h2>

            <p>
                تعريف الحب هو اختزاله.
            </p>
            </article>

    

            

    <article class="post">
                <a href="posts-folder/poetry/pots-pans">
                <img src="../images/poetry/pot.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/poetry/pots-pans">طناجر مقالي</a>
            </h2>

            <p>
                بتعمل ضجة يا غالي
            </p>
            </article>

<article class="post">

            <a href="posts-folder/opinion/post6">
                <img src="../images/afla.jpeg" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post6">هل يستطيع الفيلسوف بناء جسر؟</a>
            </h2>

            <p>
                عن قيمة العلوم الإنسانية "العديمة الفائدة"...
            </p>

        </article>

<article class="post">

            <a href="posts-folder/opinion/post5">
                <img src="../images/omar.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post5">هل الموسيقار بيزهق من نفس الأغنية؟</a>
            </h2>

            <p>
                السؤال غبي؟
            </p>

        </article>

<article class="post">

            <a href="posts-folder/opinion/post4">
                <img src="../images/post4.jpg" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post4"> عربي للأكراد وكردي للعرب</a>
            </h2>

            <p>
                إذن أني منو و شنو؟
            </p>

        </article>

<article class="post">

            <a href="posts-folder/opinion/post3">
                <img src="../images/mahfouz.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post3"> نجيب محفوظ والتلقائية المنظمة</a>
            </h2>

            <p>
                "التنظيم لا يختلف عن التلقائية"
            </p>

        </article>

    </div>  

    <button class="scroll-btn right">❮</button>

    </div>
    
</section>   

     <!-- Opinion -->
<section class="category-section">

        <h1>مقالات رأي</h1>

        <div class="scroll-wrapper">

<button class="scroll-btn left">❯</button>

        <div class="category-row">

            <article class="post">
                <a href="posts-folder/opinion/infinite">
                <img src="../images/opinion/fractile.jpg" alt="Fractals">
            </a>

            <h2>
                <a href="posts-folder/opinion/infinite">الخوف من اللانهاية</a>
            </h2>

            <p>
                مخاوفي الوجودية
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/sex-obsession">
                <img src="../images/opinion/Tuqan.jpg" alt="Fadwa Tuqan">
            </a>

            <h2>
                <a href="posts-folder/opinion/sex-obsession">هَوَس الجنس في العالم العربي</a>
            </h2>

            <p>
                عن نظرة المجتمع العربي تجاه الجنس. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/flood">
                <img src="../images/opinion/flood/van.jpg" alt="Book Van">
            </a>

            <h2>
                <a href="posts-folder/opinion/flood">طوفان عمان ومحل الماء</a>
            </h2>

            <p>
                عن المكتبة الشهيرة في عمان
            </p>
        </article>

            <article class="post">
                <a href="posts-folder/opinion/koobideh">
                <img src="../images/opinion/koobideh/pizza.JPG" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/koobideh">كوبيدة، تمن الدود والسلطان </a>
            </h2>

            <p>
عن غياب السخط على الذكاء الاصطناعي في العالم العربي
            </p>
            </article>
            
    <article class="post">
                <a href="posts-folder/opinion/city">
                <img src="../images/opinion/matrix.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/city">مدينة ترد الكلام</a>
            </h2>

            <p>
عن التحوّل التجاري في ثقافة عمّان.            </p>
            </article>

    <article class="post">
                <a href="../ar/no-translation">
                <img src="../images/opinion/yazan.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="../ar/no-translation">ابن برجا</a>
            </h2>

            <p>
                العزلة لها قيمة. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/love-apathy">
                <img src="../images/opinion/love.JPG" alt="Sunset in Jordan">
            </a>

            <h2>
                <a href="posts-folder/opinion/love-apathy"> الحب واللامبالاة </a>
            </h2>

            <p>
                تعريف الحب هو اختزاله.
            </p>
            </article>

            <article class="post">

            <a href="posts-folder/opinion/did-not-become-meeting">
                <img src="../images/opinion/linked3ein1.jpg" alt="Linkedin logo with Evil Eye">
            </a>

            <h2>
                <a href="posts-folder/opinion/did-not-become-meeting">لينكد عين</a>
            </h2>

            <p>
                الآلة تبارك للآلة
            </p>

        </article>

<article class="post">

            <a href="posts-folder/opinion/post6">
                <img src="../images/afla.jpeg" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post6">هل يستطيع الفيلسوف بناء جسر؟</a>
            </h2>

            <p>
                عن قيمة العلوم الإنسانية "العديمة الفائدة"...
            </p>

        </article>

<article class="post">

            <a href="posts-folder/opinion/post5">
                <img src="../images/omar.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post5">هل الموسيقار بيزهق من نفس الأغنية؟</a>
            </h2>

            <p>
                السؤال غبي؟
            </p>

        </article>

<article class="post">

            <a href="posts-folder/opinion/post4">
                <img src="../images/post4.jpg" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post4"> عربي للأكراد وكردي للعرب</a>
            </h2>

            <p>
                إذن أني منو و شنو؟
            </p>

        </article>

<article class="post">

            <a href="posts-folder/opinion/post3">
                <img src="../images/mahfouz.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post3"> نجيب محفوظ والتلقائية المنظمة</a>
            </h2>

            <p>
                "التنظيم لا يختلف عن التلقائية"
            </p>

        </article>


    <article class="post">

            <a href="posts-folder/opinion/post2">
                <img src="../images/saddam.jpeg" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post2">آن أوان قيام عالم سينمائي عربي</a>
            </h2>

            <p>
                باتمان فرع عبدون
            </p>

        </article>

        
<article class="post">

            <a href="posts-folder/opinion/post1">
                <img src="../images/howtocook.jpeg" alt="">
            </a>

            <h2>
                <a href="posts-folder/opinion/post1">الطعام والقومية</a>
            </h2>

            <p>
                يعيش حزب الشاورما العربي
            </p>

        </article>

    </div> 

<button class="scroll-btn right">❮</button>

    </div>



</section>

<!-- Poetry -->
    <section class="category-section">

        <h1>شعر</h1>

         <div class="scroll-wrapper">

<button class="scroll-btn left">❯</button>

        <div class="category-row">

            <article class="post">
                <a href="posts-folder/poetry/gaza">
                <img src="../images/poetry/gaza.jpg" alt="The Tale of Three Jewels">
            </a>

            <h2>
                <a href="posts-folder/poetry/gaza">اخترْ يا ابنَ غزّة</a>
            </h2>

            <p>
قصيدة مهداة إلى يحيى محمود، بخلفية لقطات من فيلم حكاية الجواهر الثلاثة 

            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/flood">
                <img src="../images/opinion/flood/van.jpg" alt="Book Van">
            </a>

            <h2>
                <a href="posts-folder/opinion/flood">طوفان عمان ومحل الماء</a>
            </h2>

            <p>
                عن المكتبة الشهيرة في عمان
            </p>
        </article>

            <article class="post">
                <a href="posts-folder/poetry/inches">
                <img src="../images/poetry/lakehouse.JPG" alt="Lakehouse by Barry McGlashan">
            </a>

            <h2>
                <a href="posts-folder/poetry/inches">وحدة وحدة</a>
            </h2>

            <p>
                إمتى كانت آخر مرة صحيت
ورقصت بهدوء مع التلج؟
            </p>
            </article>

            <article class="post">
                <a href="../ar/no-translation">
                <img src="../images/poetry/fire.JPG" alt="Yarnatas Fire in Cirali">
            </a>

            <h2>
                <a href="../ar/no-translation">اعتن بنارك</a>
            </h2>

            <p>
بدها جهد 
            </p>
            </article>


            <article class="post">
                <a href="posts-folder/poetry/pots-pans">
                <img src="../images/poetry/pot.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/poetry/pots-pans">طناجر مقالي</a>
            </h2>

            <p>
                بتعمل ضجة يا غالي
            </p>
            </article>
        </div>
        <button class="scroll-btn right">❮</button>

    </div>


    </section>

    <!-- Photography -->
    <section class="category-section">

        <h1>ألبومات صور</h1>

         <div class="scroll-wrapper">

<button class="scroll-btn left">❯</button>

        <div class="category-row">

<article class="post">
                <a href="posts-folder/photography/thames">
                <img src="../images/Photography/thames/eastvswest.JPG" alt="East vs West">
            </a>

            <h2>
                <a href="posts-folder/photography/thames">على نهر لندن</a>
            </h2>

            <p>
                اسمه نهر التمز 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/photography/depression">
                <img src="../images/Photography/depression.jpg" alt="Depression Meal">
            </a>

            <h2>
                <a href="posts-folder/photography/depression">الاكتئاب الحديث</a>
            </h2>

            <p>
                ولك ليش زعلان؟
            </p>
            </article>

<button class="scroll-btn right">❮</button>       


    </section>

</main>
<script src="../script.js"></script>
</body>
</html>