---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose, Oh Son of Gaza</title>
  <link rel="stylesheet" href="../../style.css">
{% include favicon.html %}
</head>

<body>

{% include nav.html toggle="/ar/posts-folder/poetry/gaza" %}

<div class="page-bg"></div>

<main>

    <h1 class="title">Choose, Oh Son of Gaza</h1>

    <video autoplay controls>
  <source src="/videos/gaza.mp4" type="video/mp4">
  </video>

    <div class="post-content">

        Hamza Al-Aqqad – 11/9/2026 – London
<br> <br>
A poem Dedicated to Yahya Mahmoud, with a backdrop of clips from a movie filmed in Gaza,  
Tale of the Three Jewels.
<br> <br>

Choose, oh son of Gaza
<br>
The prison cell or the drone
<br>
For you will find that all roads lead to Gaza

<br>
<br>
You will find that the difference is merely a letter
<br>
Like the difference between freedom and love
<br>
Or love and war
<br>
Or war and freedom

<br> <br>
Your voice is heard, son of gaza 
<br>
We will never forget you
<br>
For even in our hearts, and behind our eyelids
<br>
All roads lead to Gaza 


        <a href="../../index">
            <img src="../../images/sh.png"
                 alt="Logo"
                 class="post-image">
        </a>

        <p>Click the picture to return home.</p>

    </div>

</main>

<script src="../../script.js"></script>

</body>
</html>
