---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shujooon | Start Reading</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
{% include favicon.html %}
</head>

<body>
   {% include nav.html toggle="/ar/posts" %}

<!-- 
  <div class="page-bg"> </div>
<main>
    <div class="post-content">

        <h1>Posts List </h1>


 <ul class = "image-list">
      <li><a href="post1" color = >Food Nationalism</a></li>
      <li><a href="post2">The Arab Cinematic Universe Needs to Happen </a></li>
      <li><a href="post3"> Naguib Mahfouz & Organised Spontaneity </a></li>
    </ul>


    <a href="index"> <img src="images/sh.png" alt="Logo" class ="post-image"> </a>
<p> Click the picture to return home.</p>
-->
<div class="page-bg"> </div>
<main>
 
    <!-- Featured -->
 <section class="category-section">
    <h1>Featured</h1>

<div class="scroll-wrapper">

<button class="scroll-btn left">❮</button>

<div class="category-row">

    <article class="post">
                <a href="posts-folder/photography/soul">
                <img src="images/Photography/soul/cat.JPG" alt="CHANGE ALT">
            </a>

            <h2>
                <a href="posts-folder/photography/soul">Let the Soul Dance</a>
            </h2>

            <p>
                A story of a street lined with poetry.
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/poetry/gaza">
                <img src="images/poetry/gaza.jpg" alt="CHANGE ALT">
            </a>

            <h2>
                <a href="posts-folder/poetry/gaza">Choose, Oh Son of Gaza</a>
            </h2>

            <p>
             A poem dedicated to Yahya Mahmoud, with a backdrop of Tale of the Three Jewels. 
 
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/sex-obsession">
                <img src="images/opinion/Tuqan.jpg" alt="Fadwa Tuqan">
            </a>

            <h2>
                <a href="posts-folder/opinion/sex-obsession">THE SEX OBSESSION OF THE ARAB WORLD</a>
            </h2>

            <p>
                On the view towards sex in Arab society. 
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/flood">
                <img src="images/opinion/flood/van.jpg" alt="Book Van">
            </a>

            <h2>
                <a href="posts-folder/opinion/flood">The Flood of Amman and the Water Shop </a>
            </h2>

            <p>
                On the iconic van bookshop in Amman. 
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/koobideh">
                <img src="images/opinion/koobideh/pizza.JPG" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/koobideh">Koobideh, The Worm-Rice and the Sultan </a>
            </h2>

            <p>
                On the lack of AI outrage in the Arab World. 
            </p>
            </article>
            
    <article class="post">
                <a href="posts-folder/opinion/city">
                <img src="images/opinion/matrix.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/city">A City That Talks Back</a>
            </h2>

            <p>
                On Amman's Commercial Cultural Shift.
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/build-tower">
                <img src="images/opinion/yazan.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/build-tower">Build a Tower</a>
            </h2>

            <p>
                Solitude is Valuable.
            </p>
            </article>

<article class="post">
                <a href="posts-folder/poetry/inches">
                <img src="images/poetry/lakehouse.JPG" alt="Lakehouse by Barry McGlashan">
            </a>

            <h2>
                <a href="posts-folder/poetry/inches">By Inches, by Sunday</a>
            </h2>

            <p>
                Cycling through Holland Park Avenue
            </p>
            </article>

    <article class="post">
                <a href="posts-folder/opinion/love-apathy">
                <img src="images/opinion/love.JPG" alt="Sunset in Jordan">
            </a>

            <h2>
                <a href="posts-folder/opinion/love-apathy">Love & Apathy</a>
            </h2>

            <p>
                To define love is to reduce it.
            </p>
            </article>

            

    <article class="post">
                <a href="posts-folder/poetry/pots-pans">
                <img src="images/poetry/pot.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/poetry/pots-pans">Pots & Pans</a>
            </h2>

            <p>
                Noise, Noise, Noise 
            </p>
            </article>

<article class="post">

            <a href="post6">
                <img src="images/afla.jpeg" alt="">
            </a>

            <h2>
                <a href="post6">Can a philosopher build a bridge?</a>
            </h2>

            <p>
                On the value of useless humanities. 
            </p>

        </article>

<article class="post">

            <a href="post5">
                <img src="images/omar.JPG" alt="">
            </a>

            <h2>
                <a href="post5">Do Musicians Get Bored of Playing the Same Thing?</a>
            </h2>

            <p>
                Is that a stupid question?
            </p>

        </article>

<article class="post">

            <a href="post4">
                <img src="images/post4.jpg" alt="">
            </a>

            <h2>
                <a href="post4"> An Arab to the Kurds and a Kurd to the Arabs</a>
            </h2>

            <p>
                The Arabs, Kurds and Iraqis alike are damned.
            </p>

        </article>

<article class="post">

            <a href="post3">
                <img src="images/mahfouz.JPG" alt="">
            </a>

            <h2>
                <a href="post3"> Naguib Mahfouz & Organised Spontaneity</a>
            </h2>

            <p>
                "Organization is no different to spontaneity."
            </p>

        </article>

    </div>  

    <button class="scroll-btn right">❯</button>

    </div>
    
</section>   

     <!-- Opinion -->
<section class="category-section">

        <h1>Opinion Pieces</h1>

        <div class="scroll-wrapper">

<button class="scroll-btn left">❮</button>


        <div class="category-row">

            <article class="post">
                <a href="posts-folder/opinion/football-fails-to-unite-the-arabs">
                <img src="images/CHANGE IMAGE.jpeg" alt="CHANGE ALT">
            </a>

            <h2>
                <a href="posts-folder/opinion/football-fails-to-unite-the-arabs">Football Fails to Unite the Arabs</a>
            </h2>

            <p>
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/infinite">
                <img src="images/opinion/fractile.jpg" alt="Fractals">
            </a>

            <h2>
                <a href="posts-folder/opinion/infinite">The Fear of Endlessness</a>
            </h2>

            <p>
                And other existential thoughts. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/sex-obsession">
                <img src="images/opinion/Tuqan.jpg" alt="Fadwa Tuqan">
            </a>

            <h2>
                <a href="posts-folder/opinion/sex-obsession">THE SEX OBSESSION OF THE ARAB WORLD</a>
            </h2>

            <p>
                On the view towards sex in Arab society. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/flood">
                <img src="images/opinion/flood/van.jpg" alt="Book Van">
            </a>

            <h2>
                <a href="posts-folder/opinion/flood">The Flood of Amman and the Water Shop </a>
            </h2>

            <p>
                On the iconic van bookshop in Amman. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/koobideh">
                <img src="images/opinion/koobideh/pizza.JPG" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/koobideh">Koobideh, The Worm-Rice and the Sultan </a>
            </h2>

            <p>
                On the lack of AI outrage in the Arab World. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/city">
                <img src="images/opinion/matrix.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/city">A City That Talks Back</a>
            </h2>

            <p>
                On Amman's Commercial Cultural Shift.
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/build-tower">
                <img src="images/opinion/yazan.jpg" alt="Carl Jung Tower Bollingen">
            </a>

            <h2>
                <a href="posts-folder/opinion/build-tower">Build a Tower</a>
            </h2>

            <p>
                Solitude is Valuable.
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/love-apathy">
                <img src="images/opinion/love.JPG" alt="Sunset in Jordan">
            </a>

            <h2>
                <a href="posts-folder/opinion/love-apathy">Love & Apathy</a>
            </h2>

            <p>
                To define love is to reduce it.
            </p>
            </article>

            <article class="post">

            <a href="posts-folder/opinion/did-not-become-meeting">
                <img src="images/opinion/linked3ein1.jpg" alt="Linkedin logo with Evil Eye">
            </a>

            <h2>
                <a href="posts-folder/opinion/did-not-become-meeting">I Did Not Become The Meeting</a>
            </h2>

            <p>
                Linkedin and the Evil eye.
            </p>

        </article>

<article class="post">

            <a href="post6">
                <img src="images/afla.jpeg" alt="">
            </a>

            <h2>
                <a href="post6">Can a philosopher build a bridge?</a>
            </h2>

            <p>
                On the value of useless humanities. 
            </p>

        </article>

<article class="post">

            <a href="post5">
                <img src="images/omar.JPG" alt="">
            </a>

            <h2>
                <a href="post5">Do Musicians Get Bored of Playing the Same Thing?</a>
            </h2>

            <p>
                Is that a stupid question?
            </p>

        </article>

<article class="post">

            <a href="post4">
                <img src="images/post4.jpg" alt="">
            </a>

            <h2>
                <a href="post4"> An Arab to the Kurds and a Kurd to the Arabs</a>
            </h2>

            <p>
                The Arabs, Kurds and Iraqis alike are damned.
            </p>

        </article>

<article class="post">

            <a href="post3">
                <img src="images/mahfouz.JPG" alt="">
            </a>

            <h2>
                <a href="post3"> Naguib Mahfouz & Organised Spontaneity</a>
            </h2>

            <p>
                "Organization is no different to spontaneity."
            </p>

        </article>


    <article class="post">

            <a href="post2">
                <img src="images/saddam.jpeg" alt="">
            </a>

            <h2>
                <a href="post2">The Arab Cinematic Universe Needs to Happen</a>
            </h2>

            <p>
                Captain Iraq and Syriaman
            </p>

        </article>

        
<article class="post">

            <a href="post1">
                <img src="images/howtocook.jpeg" alt="">
            </a>

            <h2>
                <a href="post1">FOOD NATIONALISM</a>
            </h2>

            <p>
                Doner Kebab or Shawerma? Kofte or Kofta?
            </p>

        </article>

    </div> 

<button class="scroll-btn right">❯</button>

    </div>



</section>

<!-- Poetry -->
    <section class="category-section">

        <h1>Poetry</h1>

         <div class="scroll-wrapper">

<button class="scroll-btn left">❮</button>

        <div class="category-row">

            <article class="post">
                <a href="posts-folder/photography/soul">
                <img src="images/Photography/soul/soul.JPG" alt="CHANGE ALT">
            </a>

            <h2>
                <a href="posts-folder/photography/soul">Let the Soul Dance</a>
            </h2>

            <p>
                A story of a street lined with poetry.
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/poetry/gaza">
                <img src="images/poetry/gaza.jpg" alt="CHANGE ALT">
            </a>

            <h2>
                <a href="posts-folder/poetry/gaza">Choose, Oh Son of Gaza</a>
            </h2>

            <p>
                A poem dedicated to Yahya Mahmoud, with a backdrop of Tale of the Three Jewels.
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/opinion/flood">
                <img src="images/opinion/flood/van.jpg" alt="Book Van">
            </a>

            <h2>
                <a href="posts-folder/opinion/flood">The Flood of Amman and the Water Shop </a>
            </h2>

            <p>
                On the iconic van bookshop in Amman. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/poetry/inches">
                <img src="images/poetry/lakehouse.JPG" alt="Lakehouse by Barry McGlashan">
            </a>

            <h2>
                <a href="posts-folder/poetry/inches">By Inches, by Sunday</a>
            </h2>

            <p>
                Cycling through Holland Park Avenue
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/poetry/fire">
                <img src="images/poetry/fire.JPG" alt="Yarnatas Fire in Cirali">
            </a>

            <h2>
                <a href="posts-folder/poetry/fire">Tend Your Fire</a>
            </h2>

            <p>
                Devotion is key.
            </p>
            </article>


            <article class="post">
                <a href="posts-folder/poetry/pots-pans">
                <img src="images/poetry/pot.JPG" alt="">
            </a>

            <h2>
                <a href="posts-folder/poetry/pots-pans">Pots & Pans</a>
            </h2>

            <p>
                Noise, Noise, Noise 
            </p>
            </article>
        </div>
        <button class="scroll-btn right">❯</button>

    </div>


    </section>

    <!-- Photography -->
    <section class="category-section">

        <h1>Photo Albums</h1>

         <div class="scroll-wrapper">

<button class="scroll-btn left">❮</button>

        <div class="category-row">

            <article class="post">
                <a href="posts-folder/photography/soul">
                <img src="images/Photography/soul/behindcar.JPG" alt="CHANGE ALT">
            </a>

            <h2>
                <a href="posts-folder/photography/soul">Let the Soul Dance</a>
            </h2>

            <p>
                A story of a street lined with poetry.
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/photography/thames">
                <img src="images/Photography/thames/eastvswest.JPG" alt="East vs West">
            </a>

            <h2>
                <a href="posts-folder/photography/thames">On the Thames</a>
            </h2>

            <p>
                The River Thames is full of shit. 
            </p>
            </article>

            <article class="post">
                <a href="posts-folder/photography/depression">
                <img src="images/Photography/depression.jpg" alt="Depression Meal">
            </a>

            <h2>
                <a href="posts-folder/photography/depression">Modern Depression</a>
            </h2>

            <p>
                What does depression look like to you?
            </p>
            </article>

            </div>
        <button class="scroll-btn right">❯</button>


    </section>

</main>
<script src="script.js"></script>
</body>
</html>