@font-face {
  font-family: 'CustomGaramond';
  src: url('fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomGaramond', serif;
  font-size: 20px;
  line-height: 1.7;
}

p {
  text-align: justify;
  text-indent: 30px; /* adjust pixels as needed */
}

.title {
  font-size: 42px;
  margin-bottom: 30px;
  text-align: center; /* Center only this heading */
}

.post-content {
  max-width: 700px;   /* Adjust to taste */
  margin: 0 auto;      /* Centers it horizontally */
  padding: 0 20px;     /* Optional padding inside */
}


.right-image {
  float: right;
  width: 500px;      /* adjust as desired */
  height: auto;
  margin-left: 1px; /* space between image and text */
  margin-bottom: 100px;
}

.post-image {
  display: block;
  margin: auto;
  width: 400px;   /* adjust as desired */
  height: auto;
}



.image-list {
  list-style: none;
    padding: 0;
    margin-left: -40px; 
}

.image-list li {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  align-items: center;

  margin-bottom: 0px;
}

.image-list li::before {
  content: "";
  width: 100px;
  height: 100px;
  background: url("images/evil\ eye\ .PNG") no-repeat center;
  background-size: contain;
}

a:link {color: #283a88; }
a:visited {color: #283a88; }

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to 
  the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero1.png");

  /* Set a specific height */
  height: 100%;
  

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white ;
}

html {
  scroll-behavior:smooth;
}

button {
  background-color:#283a88 ;
  border: black;
  border-radius: 12px;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

#enter { color: white; }

/* Mobile styles */
@media screen and (max-width: 768px) {

    .hero-image {
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("images/hero-mobile1.png");
    }

    .hero-text {
        width: 90%;
        font-size: 0.9rem;
    }

    .button { bottom: 20px;}
}
