@font-face {
  font-family: 'CustomGaramond';
  src: url('fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomGaramond', serif;
  font-size: 20px;
  line-height: 1.7;
}

p {
  text-align: justify;
  text-indent: 30px; /* adjust pixels as needed */
}

.title {
  font-size: 42px;
  margin-bottom: 30px;
  text-align: center; /* Center only this heading */
}

.post-content {
  max-width: 700px;   /* Adjust to taste */
  margin: 0 auto;      /* Centers it horizontally */
  padding: 0 20px;     /* Optional padding inside */
}


.right-image {
  float: right;
  width: 500px;      /* adjust as desired */
  height: auto;
  margin-left: 1px; /* space between image and text */
  margin-bottom: 100px;
}

.post-image {
  display: block;
  margin: auto;
  width: 400px;   /* adjust as desired */
  height: auto;
}



.image-list {
  list-style: none;
    padding: 0;
    margin-left: -40px; 
}

.image-list li {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  align-items: center;

  margin-bottom: 0px;
}

.image-list li::before {
  content: "";
  width: 100px;
  height: 100px;
  background: url("images/evil\ eye\ .PNG") no-repeat center;
  background-size: contain;
}

a:link {color: #283a88; }
a:visited {color: #283a88; }
