---
---

<!DOCTYPE html>
<html lang="ar" dir = "rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>اخترْ يا ابنَ غزّة</title>
  <link rel="stylesheet" href="../../../style.css">
{% include favicon.html %}
</head>

<body>

{% include nav.html lang="ar" toggle="/posts-folder/poetry/gaza" %}

<div class="page-bg"></div>

<main>

    <h1 class="title">اخترْ يا ابنَ غزّة</h1>

    <video autoplay controls>
  <source src="/videos/gaza.mp4" type="video/mp4">
  </video>

    <div class="post-content">
حمزة العقاد - ١١\٩\٢٠٢٦

<br>
<br>

قصيدة مهداة إلى يحيى محمود، بخلفية لقطات من فيلم حكاية الجواهر الثلاثة 
<br><br>
 اخترْ يا ابنَ غزّة
<br>
 الزِّنزانة أَمْ الزَّنّانة؟
<br>
 فكلُّ الطُّرُق تُؤدِّي إلى غزّة.
<br>
<br>

ستجدُ أنَّ الفرقَ هو مجرَّدُ حرفٍ
<br>
 مثلَ الفرقِ بينَ الحُرِّ والحُبْ
<br>
 والحُبِّ والحَربْ
<br>
 والحَربِ والحُر.
<br>
<br>

صوتُكَ مسموعٌ يا ابنَ غزّة
<br>
 لنْ ننساكَ أبداً،
<br>
 فحَتّى في قلوبِنا، وخلفَ أجفانِ عيوننا،
<br>
 كلُّ الطُّرُق تؤدِّي إلى غزّةَ.
<br>

        

        <a href="../../index">
            <img src="../../../images/sh.png"
                 alt="Logo"
                 class="post-image">
        </a>

        <p>اضغط على الصورة للعودة للصفحة الرئيسية</p>

    </div>

</main>

<script src="../../../script.js"></script>

</body>
</html>
