---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Fear of Endlessness</title>
  <link rel="stylesheet" href="/style.css">
{% include favicon.html %}
</head>

<body>

{% include nav.html toggle="/ar/posts-folder/opinion/infinite" %}

<div class="page-bg"></div>

<main>

    <h1 class="title">The Fear of Endlessness</h1>

    <img src="/images/opinion/fractile.jpg"
         alt="fractals"
         class="post-image">

    <div class="post-content">

    
Hamza Al-Aqqad 27/9/2026 London
<br>

<p>
Does it ever scare you that your hair is always growing? Water is always flowing in a river, wind is always moving from one end of the globe to the other, skin cells are dying and being regenerated, your blood never stops pumping, heat is always moving away towards the cool. The earth is always rotating. The idea of processes being continuous and not occurring on a discrete ladder is weird. Every object, every particle has gravity and is trying to pull something towards it. The Dead Sea is drying up right now. We collectively hate continuous processes. Why else would we have sayings like “watching paint dry”, or “a watched pot never boils”? 
</p>

<p>
Look at a rock in the sea and notice a specific divot. That shape took hundreds of thousands of years of waves crashing into it for it to form. Does it not freak you out that it’s also happening while you look at it? Sand grains are rocks that have been weathered down for millions of years. There was a time when sand, concretely, did not exist in a certain area. At what point does it become sand? What I cannot conceptualise is all the different infinite possibilities of shape that rock could have had. Can you imagine how unpredictable water flow over millions of years is? What animal was in between the rock and the wave, what temperature the water was, how strong the tide was at that second. There are so many variables, and we live in the universe where they all added up to give that rock that divot in that spot.
</p>

<p>
A single pendulum has completely predictable behaviour. You can describe exactly how it will swing, and for how long. If you add a second pendulum to it, it becomes completely unpredictable and looks seemingly so wrong. It starts speeding up and slowing down in ways that look like they shouldn’t physically make any sense. It exhibits chaotic motion, because the way it moves is so sensitive to the initial conditions of how you drop it. This is such a simple system: two rods and two pivot points. Imagine the number of variables in ocean flow, in orbital rotation, in galaxies spinning. 
</p>

<div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U39RMUzCjiU?si=lIGTxT-Q1sLwZP_C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<p>
As much as I fear all these things, at least they have an end. Water will dry up eventually. You will die and hair will stop growing, your heart will stop pumping your blood and your skin cells will decay. The universe will eventually have dispersed all its heat and there will be no more expansion, no more wind, no more rotation. It all stops. Momentum is conserved; it started at zero and will go back to zero. Compare that to the idea of heaven. As a child I was terrified of Heaven. It is eternal, that’s the whole point. It kept me awake at night, because everyone was telling me it was the best thing conceivable, but I could not get understand the idea that it does not end.
</p>

<h1>
This is called Apeirophobia; the fear of endlessness. 
</h1>

<p>
We cannot think of eternity in any human terms. Can things get infinitelty small and infinitely big? Why not? Why would our universe be bound by rules like that? Are we in a simulation? They say the universe is constantly expanding… but into what? What is it expanding into it? When did heaven begin to exist? 
</p>

<p>
And yet we have an incredible ability as humans to take inconcievable concepts and use them. Infinity as a concept is taken for granted in engineering; things tend to infinity all the time. You assume many things are infinite. Anything really far from a source of heat is consdiered to be infinitely far away. It’s absurd what you may hear in an engineering class. If the ocean is being used to cool a nuclear power plant, you can with all sincerity assume the ocean has an infinite mass. An asymptote is a line that a curve approaches closer and closer to as it goes towards infinity, but never truly reaches. Just assume it does tho. 
</p>

<p>
I hate thinking of an endless pit with a waterfall above it. I used to imagine that a lot as a child in the shower. The water must stop eventually, but it won’t. It’s like how if you were in the earth’s orbit you are actually perpetually falling while moving sideways so fast you never hit the ground. 
</p>

<img src="/images/opinion/orbit.jpeg"
         alt="fractals"
         class="post-image">

    <div class="post-content">

<p>
This is article was a word dump of some of my exestintial fears, and I hope someone reading this knows how to reduce this dread of the inconcievable. 
</p>





<a href="/">
            <img src="/images/sh.png"
                 alt="Logo"
                 class="post-image">
        </a>
        <p>Click the picture to return home.</p>

    </div>
    </div>

</main>

<script src="/script.js"></script>

</body>
</html>