---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Sex Obsession of the Arab World</title>
  <link rel="stylesheet" href="../../style.css">
{% include favicon.html %}
</head>

<body>

{% include nav.html toggle="/ar/posts-folder/opinion/sex-obsession" %}

<div class="page-bg"></div>

<main>

    <h1 class="title">The Sex Obsession of the Arab World </h1>

    <img src="../../images/opinion/Tuqan.jpg"
         alt="CHANGE ALT"
         class="post-image">

    <div class="post-content">
Hamza Al-Aqqad - 8/09/2026 - London

<p>
Often times you may ask a young man in his 20s, what is your ambition? What are your immediate aims? And he will say without skipping a beat, “I want to get married”. Of course, you may give the benefit of the doubt and say it’s nice that he wants to build a family of his own and take care of children, but the implication behind the word married is “I want to have sex”. There have been times where I have come back home from London, and I am asked with a childlike glee and wonder by adult friends that have not left, what it is like to have sex. The aim of this article is to discuss the relationship many people with sex in the Arab world, and the highly damaging and interlinked effects it has on society. 
</p>

<p>
To preface and to dispel any possible biases you may think I have in writing this, I will bluntly state some statements. I am not a liberal, not in the way the term means in 2026. I am not a self-hating Arab who shouts blanket statements of Western liberalism as if it is the solution to everything and us not aping them is the reason we are behind. I am anti porn because it is detrimental to both men and women and the only winners are the industries exploiting the low self-esteemed men and economically desperate women that prop up the industry. The point being is, I am somewhere in between the absurd sex positive views of western liberals, and the repressive views of the Arab world. That is a more accurate statement of my bias in writing this. 
</p>

This article will tackle the discussion on the three points below. 
<ol>
<li>Sex as the Highest & Most Shameful Need </li>
<li>Virgin Obsession & the Dehumanisation of Women</li> 
<li> The Moral Ambiguity of Consent & Rape</li>
</ol>
<p>
I also urge someone that reads this and disagrees, to remember that Shujooon is community driven, and if you write a reply to this article that respectfully disagrees and lays out why, it will be published.
</p>

<h1>
1. Sex as the Highest & Most Shameful Need
</h1>
<p>
This level of repression around sex, due to intense shame for thinking and talking about it, and the very real and dangerous effects of doing it outside of marriage (socially, physically and legally in some areas) creates such a mystic and magical aura around it. What is this greatness that they do not allow me to know? And since marriage has the monopoly on sex and by extension the (supposedly) greatest thing that you cannot even conceive how it feels, it makes sense why many young men are very keen to get married. 
</p>
<p>
The issue is that in reality, “sex, like any pleasure, plateaus rather quickly and the more you have of it the less it satisfies. What you’re doing is taking a limited animal good, like food or sleep, and stretching it beyond its natural bounds […] Our animal needs sit at the lowest level on the ladder of fulfilment. They’re the least important in terms of our humanness, in terms of our human potential.” 
</p>

This is a quote from Omar Najjarine in a lecture on lust. The full video is below.

<div class="youtube-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/By1l-Uq1UVk?si=2xOn4PaBGavtIi5_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<p>
His video discusses the relationship with sex, in the western liberal perspective. We believe us and the west have opposite relationships with sex, but that is not true. People in the west suffer anxieties due to sex, just differently. Rollo May sums it up well in <emphasis> Love and Will </emphasis>: “Many contemporary students, understandably anxious because of their new sexual freedom, repress this anxiety (“one should <emphasis> like </emphasis> freedom”) and then compensate for the additional anxiety the repression gives them by attacking the parietal authorities for giving them more freedom. 
</p>
<p>
“What we did not see in our short-sighted liberalism in sex was that throwing the individual into an unbounded and empty sea of free choice does not in itself give freedom, but is more apt to increase inner conflict. The sexual freedom to which are devoted fell short of being fully human.” 
</p>

<p>
So, we have the same exact problem that the average western person suffers from, which is placing sex way too high in the hierarchy of needs. What we have on top of that, is an extreme social shame of sex. We need the rule but not the shame around it. To be able to grow into yourself within relationships, but without having a boundless sandbox to destroy your soul and age your spirit through meaningless sex. 
</p>

<p>
There was a Jordanian band called Mirage, that had a husband-and-wife duo, Wael and Aida Abu Nuwar. Their house was broken into, and their sex tape found and distributed all over the Arab world. This was the end of the band, and I believe Wael and Aida themselves had to leave the country. 
</p>

<div class="youtube-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ysbiwwgfmCI?si=fYKOGOL5tACvIbPs" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<p>
They were married, and it was a private tape for themselves that was stolen. And yet the shame was too intense. This points to an interesting discussion regarding how porn is seen in the Arab world, but that is beyond the scope of this article right now. 
</p>

<p>
The point now is this combination of propping up sex to be the most fulfilling act, and being so shameful at the same time, creates such a visceral conflict in one’s head. I have been speaking from a man’s perspective because that’s the insight I have, but I can only imagine for an Arab woman this conflict of the mind is scaled up by astronomical orders of magnitude, which brings me to my next two points. 
</p>

<h1>
2.	Virgin Obsession & the Dehumanisation of Women 
</h1>

<p>
Another conflict of the mind arises. The Arab woman is simultaneously the most and least respected person, at the same time. The Arab woman is not judged for her values, character, what she may add to society. She is valued by her sexual purity, until she is lawfully given to marriage, at which point she has value only as a mother. She is honourably discharged from her duty to be sexually pure, by marriage, and assumes the next duty. Any woman that strays away from this path immediately loses value. 
</p>

<p>
Her purity is not only a measure of her honour, but her family’s honour. Now imagine the societal shame I described, but with the added pressure of never being forgiven for a mistake. This creates a virgin obsession in our society. Of course, the assumption is that all unmarried women are virgins, and only those stories that come out, well those women ought to be shamed and ostracised. 
</p>

<p>
This binary existence for women is dehumanising. I mean that literally. There is no better description than from Palestinian Poet Fadwa Tuqan, from her autobiography <emphasis> A Mountainous Journey </emphasis>. She describes this as the sentiment in her home, before attempting to commit suicide: “I lived isolated from the world of people, while my femininity winced like a wounded animal in its cage, unable to find any kind of outlet whatsoever [...] The outside world was a taboo, forbidden to the women of the family. [...] The house was like a great pen filled with domesticated birds; fodder was thrown to them, and they devoured it without question, content and satisfied with it. And that was the ultimate end, the final limit.”
</p>


With virginity obsession women lose their agency. Through sheltering and over-protecting, the soul withers away. By our society refusing to involve women because of this, they can never self actualise. “I was aware myself, and I was aware that the self cannot be complete without a collective. The collective was there, behind the walls that surround me, and between it and myself was a long distance of centuries of the world of Harem (women of the household)." 
</p>

<p>
To exit the sphere of what is accepted, is to willingly put yourself in immediate danger.
</p>

<h1>
3.	The Moral Ambiguity of Consent & Rape
</h1>

<p>
Thus, with such an established moral sphere that women are allowed in, if a woman strays away by for example dressing a certain way, more complications follow. In the eyes of society, she has signaled herself as a pariah. She has put herself, and anyone around her in a zone where the established morality does not exist anymore. She is in the wild, and no longer will see society’s protective gaze on her. The idea becomes: because she willingly exited what the moral sphere all know, all the consequences fall on her. 
</p>

Consent is now implied. 
<p>
Rape is much more ambiguous under this lens. She has forgone her purity, and not through the legal way, and it creates a moral separation in the act committed. The man that raped her may easily convince himself he did not do much that was wrong, it was her fault. How else are honour killings explained?  If it is the woman that is raped that is killed, and not the man that has raped, how else can you explain it? 
</p>

<p>
In this article I wanted to discuss how sex is viewed in the Arab mind, and the issues it leads to. I would like this discussion to go on, and I repeat that Shujooon is an open community, and I encourage you to write something about this. Since this is such a heavy topic, I would like to end it with a beautiful quote from Fadwa Tuqan, which shows the value of our society mixing and getting to know each other. 
</p>


<p>
"To know life and touch it means to know and touch people. It means to collide with others, to place our fingers on the tenderness, roughness, love, hate, weakness, strength, nobility, meanness, honesty, hypocrisy, and all the mixture of contradictions within them. Alongside this, there was that heavy price that one cannot escape paying, which is kind-heartedness and innocence."
</p>


        <a href="../../index">
            <img src="../../images/sh.png"
                 alt="Logo"
                 class="post-image">
        </a>

        <p>Click the picture to return home.</p>

    </div>

</main>

<script src="../../script.js"></script>

</body>
</html>
