<header class="navbar">

<div class="logo">
<a href="{% if include.lang == "ar" %}/ar/{% else %}/{% endif %}"> <img src="/images/Arabic english box.png" alt="Shujooon Logo"> </a>
</div>

<button class="hamburger" aria-label="Toggle navigation">
<span></span>
<span></span>
<span></span>
</button>

{% if include.lang == "ar" %}
<nav class="nav-links">
<a href="/ar/about">من نحن</a>
<a href="/ar/posts">اقرأ</a>
<a href="/ar/about#submit">إرسال شجونك</a>
<div class="language-toggle">
<a href="{{ include.toggle | default: '#' }}">EN</a>
<span>|</span>
<a href="#">العربية</a>
</div>
</nav>
{% else %}
<nav class="nav-links">
<a href="/about">About</a>
<a href="/posts">Read</a>
<a href="/about#submit">Submit your Shujooon</a>
<div class="language-toggle">
<a href="#">EN</a>
<span>|</span>
<a href="{{ include.toggle | default: '#' }}">العربية</a>
</div>
</nav>
{% endif %}

</header>
