---
---

<!DOCTYPE html>
<html lang="ar" dir = "rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>دع الروح ترقص</title>
  <link rel="stylesheet" href="../../../style.css">
{% include favicon.html %}
</head>

<body>

{% include nav.html lang="ar" toggle="/posts-folder/photography/soul" %}

<div class="page-bg"></div>

<main>

    <h1 class="title">دع الروح ترقص</h1>

    <div class="post-content">

        <p>هذه حكاية مسرودة من خلال شارع واحد في الفحيص في الأردن. هو شارع يجبرك أن تُبعِد أوراق الشجر...</p>

        <img src="../../../images/Photography/soul/palm.JPG" alt="CHANGE ALT" class="post-image">

        <p>وأن تبحث خلف السيارات...
</p>

        <img src="../../../images/Photography/soul/behindcar.JPG" alt="CHANGE ALT" class="post-image">

        <p>وتتخيّل ما كان هناك على جدرانٍ أكلها الدهر...</p>

        <img src="../../../images/Photography/soul/erode.JPG" alt="CHANGE ALT" class="post-image">

        <p>تفعل ذلك في سبيل الأدب، في سبيل شعرٍ يبدو أنه لا يوجد إلا في هذا الشارع. هو شارع الحيوانات...</p>

        <img src="../../../images/Photography/soul/cat.JPG" alt="CHANGE ALT" class="post-image">

        <p>والإنسان كلاهما يترك أثره...</p>

        <img src="../../../images/Photography/soul/passerby.JPG" alt="CHANGE ALT" class="post-image">

        <p>ومنها ما بقي محفوظاً جيداً...</p>

        <img src="../../../images/Photography/soul/goodcombined.jpg" alt="CHANGE ALT" class="post-image">

        <p>فتفعل ما تفعله دائماً حين تشعر بالعجز: تنسخ وتحاكي قدر الإمكان...
</p>

        <img src="../../../images/Photography/soul/copy1.JPG" alt="CHANGE ALT" class="post-image">

        <p>تدوّنها، لأن هذا الشعر حيّ ويتحوّل، ولا تعلم ما الذي سيتغير في العام القادم...
</p>

        <img src="../../../images/Photography/soul/oldvnew.jpg" alt="CHANGE ALT" class="post-image">

        <p>فجأةً يلاحظ شخصٌ وجودك ومهمتك، ويدرك أن سيارته عقبة أمام تدوينك، فيعتذر بابتسامة ودية ويُزيح سيارته، وتحادثه أنت على أمل أن يفيدك بمزيد من المعلومات.
 </p>

 <p> أنت تعرف اسم الشارع، وأنه سُمّي باسم شاعر أردني من الفحيص، فهذا مكتوب على اللافتة...
</p>

        <img src="../../../images/Photography/soul/street name 2.jpg" alt="CHANGE ALT" class="post-image">

        

<p> لكنك لا تعرف ما بعد ذلك: هل رُسمت هذه الجدران تكريماً للشاعر جريس السماوي، أم بناءً على طلبه بصفته وزيراً للثقافة؟ ومتى كان ذلك؟
</p>

<div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/17bSXZoLXds?si=oLtnO9xj-Mk0xMbr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<p>هو أيضاً لا يعرف، لكنه يوجّهك إلى حابس، صاحب السوبرماركت الذي قد يكون على علم بالأمر، ويؤكد لك أنه "مش رح يحبسك"...
</p>

 <p> فتجلس مع حابس وتتناقشان في أمور كثيرة، أمورٍ تندم الآن على عدم تدوينها في أي مكان. لديك ذكريات غامضة عن حديثكما حول الزواج، وكيف أخبرك حابس أنه لن يتمكن أبداً من فهم النساء، حتى في سنّه المتقدمة. يقول لك: "المرأة زي النحلة، بتغزك وبعدين ما بتعرف لوين بتروح". يقول ذلك، لكن حين تحدّث عن زوجته الراحلة، كان واضحاً لك مدى احترامه لها.
</p>

<p>كان يدرّس مادتَي الدين واللغة العربية في المدرسة الأرثوذكسية. تتناقشان في الكتابة على الحائط، التي لا يملك عنها الكثير من المعلومات. يتحدث إليك عن الجداريات...
</p>

        <img src="../../../images/Photography/soul/mural.JPG" alt="CHANGE ALT" class="post-image">

        <p>
وكيف تُهمَل هي أيضاً، وكيف يُهمَل الفن والكتابة بشكل عام. لذا تطمئن إليه بما يكفي لتخبره أنك تفكر في كتابة مقال عن هذا الشارع وهذا الشعر، لكنه يقول لك: "ليش؟ لمين؟". تنتهي المحادثة بلطف، وأنت سعيد لأنك تحدثت إلى شخص لا تعرفه، وإلى شخص أكبر منك سناً، فكثيراً ما تشعر بأنك في عالمك لا تتحدث إلا مع من هم في مثل سنّك.
</p>

<p>
تنتبه إلى مكالمات فائتة على هاتفك؛ لقد تأخرت عن موعد العشاء. لكن لا يسعك إلا أن تنبهر بالألوان المذهلة لغروب الشمس أمامك...
</p>
        <img src="../../../images/Photography/soul/sunset.JPG" alt="CHANGE ALT" class="post-image">

        <p>
فتسعى إلى مُطَلٍّ أفضل، وتُكافأ على هذا القرار بكلاب أليفة...
</p>

<div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F6oYtZjlAjU?si=rCMXKTfzDo-qKQgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<p>
تخبرك المرأة التي برفقة الكلاب أن "هما اللي متبنيني". فتعود إلى بيتك وروحك مليئة بالسكينة، مقتنعاً بأن العفوية تنبع من أبسط الأشياء. اللحظات الإنسانية موجودة في كل مكان، ويجب تقديرها جميعاً؛ ولكن لكي تتمكن من ذلك، عليك... أن تدع الروح ترقص.
</p>
        <img src="../../../images/Photography/soul/soul.JPG" alt="CHANGE ALT" class="post-image">

       <p>
في النهاية، قد تتقبل أن الأشجار والأعشاب، والطلاء المتقشر، والأوساخ والطين، والقطط والكلاب الضالة، والأطفال الذين يلعبون كرة القدم، والشيوخ الجالسين على كراسٍ بلاستيكية بجانب السوبرماركت، ونغمة سيارة الغاز (أو سيارة البسكويت)، كلها أصبحت جزءاً من الشعر، سواء أكان ذلك مقصوداً أم لا.
</p>

<div class="youtube-container">
<iframe width="315" height="560"
src="https://www.youtube.com/embed/xRrn9HFB-WU?si=bnjMBfjarmk9OkJ7"
title="YouTube video player"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen></iframe>
</div>

        <img src="../../../images/Photography/soul/sophie.jpg" alt="CHANGE ALT" class="post-image">
        رسمة لصوفي أونال (التي أنجزت ذلك دون أن تعرف العربية)
        <a href="../../index">
            <img src="../../../images/sh.png"
                 alt="Logo"
                 class="post-image">
        </a>

        <p>اضغط على الصورة للعودة للصفحة الرئيسية</p>

    </div>

</main>

<script src="../../../script.js"></script>

</body>
</html>
