---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let the Soul Dance</title>
  <link rel="stylesheet" href="../../style.css">
{% include favicon.html %}
</head>

<body>

{% include nav.html toggle="/ar/posts-folder/photography/soul" %}

<div class="page-bg"></div>

<main>

    <h1 class="title">Let the Soul Dance</h1>

    

    <div class="post-content">

        Hamza Al-Aqqad - 29/9/2026 - London 

        <p>This is a story told through one street in Fuheis, Jordan. 
            It is a street that forces you to push through foliage… 
        </p>

        <img src="../../images/Photography/soul/palm.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p>
           look behind unfortunately positioned cars… 
        </p>

        <img src="../../images/Photography/soul/behindcar.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p> and imagine what was there on walls that have eroded by time. </p>

         <img src="../../images/Photography/soul/erode.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p> You do this in the pursuit of more literature; 
            poetry that you can seemingly only find on this street. It is a street where animals…</p>

            <img src="../../images/Photography/soul/cat.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p> And people alike, leave their marks</p>

         <img src="../../images/Photography/soul/passerby.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p> There are a few well preserved ones… </p>
         <img src="../../images/Photography/soul/goodcombined.jpg"
         alt="CHANGE ALT"
         class="post-image">

         <p>And so do what you can when you are powerless: you copy and emulate to the best of your ability…</p>

         <img src="../../images/Photography/soul/copy1.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p>You record it, because this poetry is alive and changing, and you do not know what will change the next year… </p>

         <img src="../../images/Photography/soul/oldvnew.jpg"
         alt="CHANGE ALT"
         class="post-image">

         <p>
            Eventually someone notices you and your pursuit, 
            and notices his car is in the way of your record keeping. 
            He apologises with a friendly smile and moves his car, and you latch on with the hope 
            that he will have more information for you. 
        </p>
        <p>
            You already know this street was named after a Jordanian poet from Fuheis, Jeries Al Samawi, it says so on the sign…
         </p>

         <img src="../../images/Photography/soul/street name 2.jpg"
         alt="CHANGE ALT"
         class="post-image">

         <p>But you know nothing more, was this done in his honour or by his request as the minister of culture? When was it done? </p>

         <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/17bSXZoLXds?si=oLtnO9xj-Mk0xMbr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

         <p> 
            You sit down with Habes, whose name is rare and means "imprisoner", and discuss many things, 
            things you are now beating yourself up for not writing down anywhere. 
            You have vague memories of talking about marriage and how Habes tells you he 
            will never be able to understand women, even in his older age. He tells you 
            “a woman is like a bee, she stings you and then you don’t know where she flies off to”. 
            He says this, but when he spoke about his late wife, it was clear to you how much he respected her. 
         </p>

         <p>
            He used to teach at the Christian orthodox school;
             religion and Arabic. You discuss the writing on the wall, which he 
             does not have much information about. He talks to you about the murals…
         </p>

         <img src="../../images/Photography/soul/mural.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p>
            And how they’re also neglected. How art and writing are neglected in general. 
            So, you feel comfortable enough to tell him you are thinking of writing a piece about 
            this street and this poetry, but he tells you “why… who’s going to read it?” The conversation ends nicely,
             with you happy having spoken to someone new. Having spoken to someone old. 
             You often feel that, in your world, you only speak to people your age. 
         </p>

         <p> 
            You realise your phone has been missing calls; you are late for dinner. You cannot help but get distracted by the incredible colours of the sunset ahead of you…
         </p>

         <img src="../../images/Photography/soul/sunset.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p>
            And so you pursue a better look, and for that decision you are rewarded with excited dogs…
         </p>

         <div class="youtube-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F6oYtZjlAjU?si=rCMXKTfzDo-qKQgA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
 
         <p>
            The woman with the dogs tells you she’s been adopted by them. 
            And so you go home, your soul filled; content with the affirmation 
            that spontaneity arises from the dullest of things. Human moments are 
            everywhere, and they all must be cherished; but in order to be able to do so, you must… let the soul dance
         </p>

         <img src="../../images/Photography/soul/soul.JPG"
         alt="CHANGE ALT"
         class="post-image">

         <p>

         Eventually you may accept that the 
         overgrown trees, the chipped off paint, 
         the dirt and mud, the stray cats and dogs, 
         the kids playing football, the old men sitting 
         by the supermarket on plastic chairs, the tune 
         of the gas car (or the biscuit car) have all 
         become part of the poetry, whether that was intended or not. 
         </p>
         <div class="youtube-container">
<iframe width="315" height="560"
src="https://www.youtube.com/embed/xRrn9HFB-WU?si=bnjMBfjarmk9OkJ7"
title="YouTube video player"
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
allowfullscreen></iframe>
</div>


         <img src="../../images/Photography/soul/sophie.jpg"
         alt="CHANGE ALT"
         class="post-image">

         Painting by Sophie Unal (who has remarkably done this without knowing Arabic)











        <a href="../../index">
            <img src="../../images/sh.png"
                 alt="Logo"
                 class="post-image">
        </a>

        <p>Click the picture to return home.</p>

    </div>

</main>

<script src="../../script.js"></script>

</body>
</html>
